<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CorextPackageVersion" value="5.1.44" />
    <add key="PackageSourceUris" value="https://pkgs.dev.azure.com/devdiv/_packaging/vs/nuget/v3/index.json" />
    <add key="PackageSourceUris" value="https://pkgs.dev.azure.com/devdiv/_packaging/msvc/nuget/v3/index.json" />
    <add key="ReleaseCacheRefreshAge" value="0.00:05:00.00"/>
    <add key="ReleaseFlightIds" value="Corext.5.1.44" />
    <add key="BlockCorextBootUpgrade" value="true" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
  </startup>
</configuration>
